@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background Colors */
.bg-light {
    background-color: #ffffff;  /* Light background */
}

.bg-dark {
    background-color: #1b1b1b;  /* Dark background */
}

/* Scrollbar Styling */
html[data-theme="light"] {
    --scrollbar-thumb-color: #B63E96 !important; /* Light mode scrollbar */
    --scrollbar-track-color: #f5f5f5 !important;
}

html[data-theme="dark"] {
    --scrollbar-thumb-color: #58E6D9 !important; /* Dark mode scrollbar */
    --scrollbar-track-color: #1b1b1b !important;
}

/* Apply Scrollbar Styles */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}
